p{
  font-family: "Poppins", sans-serif;
}
 .custom-bg{
    background-image: url("../image/5.jpg");
    background-size: cover;
    background-position:center;
    height: 100vh;  
}
.estyle{
  width: 450px;
}
h3{
  font-family: "Jacques Francois Shadow", serif;
}
.image-size{
  width:650px;
}
.photo-size{
  height: 350px;
}
.size-carusel{
  width: 100%;
}